.button {
    padding: 15px 30px; 
    font-size: 20px; 
    cursor: pointer;
    background-color: #1a1a1a;
    color: #b76fe4;
    border: solid;
    border-radius: 10px;
    border-color: #4d0066;
    border-width: 5px;
    width: 250px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    position: relative;
}

.button:hover{
    background-color: #9900ff;
}

.title {
    font-size: 36px;
    color: #b76fe4;
    background-color: #4d0066;
    border-color: #1a1a1a;
    border-width: thick;
    border-style: outset; 
    padding: 30px 50px;
}

.container {
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.scoreboard-score {
    font-size: 24px;
    padding: 15px;
    background-color: #4d0066;
    color: #b76fe4;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
  }