.background {
    background-color: #3a3a3a; 
    min-height: 100vh; 
    color: #fff; 
    padding: 20px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #b76fe4;
    background-color: #4d0066;
    border-color: #1a1a1a;
    width: 240px;
    text-align: center;
    border-width: thick;
    border-style: outset; 
    padding: 20px 40px;
}

.info {
    color: #b76fe4;
    padding: 0%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    text-align: center;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    text-align: center;
}
button[type=submit] {
    color: #b76fe4;
    background-color: #4d0066;
    border-color: #1a1a1a;
    width: 200px;
    margin: 1%;
    border-width: thick;
    border-style: outset; 
    padding: 1%;
    text-align: center;
	font-size: medium;
}
button[type=signIn] {
    color: #b76fe4;
    background-color: #4d0066;
    border-color: #1a1a1a;
    width: 200px;
    margin: 1%;
    border-width: thick;
    border-style: outset; 
    padding: 1%;
    text-align: center;
    position:fixed;
    top: 0;
    right: 0;
}