.leaderboard-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .leaderboard-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .leaderboard-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .leaderboard-table th {
    background-color: #f2f2f2;
  }
  