<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Distance</title>
    <style>
        #image-container {
            position: relative;
        }

        #click-point {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div id="image-container">
        <img src="{{ url_for('static', filename='assets/noBitches.jpg') }}">
        <div id="click-point"></div>
    </div>

    <script src="{{ url_for('static', filename='js/getClick.js') }}"></script>
</body>
</html>
